@import 'plugins/reset'
@import 'plugins/grider'
@import url('http://fonts.googleapis.com/css?family=Roboto');
@import 'mixins/*'
@import 'components/*'

body
    padding-top 70px
    background #f7f7f7
    font-family 'Roboto', sans-serif